<%= form_with model: @message, local: true, url: {action: 'create'}, method: :post do |f| %>
  <div class="messege-view">
    <h2>Confirm the contents</h2>
    <div>
      <div>
        <%= f.label :name, 'name' %><br>
        <%= @message.name %>
        <%= f.hidden_field :name, :value => @message.name %>
      </div>
      <div>
        <%= f.label :email, 'email' %><br>
        <%= @message.email %>
        <%= f.hidden_field :email, :value => @message.email %>
      </div>
      <div>
        <%= f.label :message, 'message' %><br>
        <%= @message.message %>
        <%= f.hidden_field :message, :value => @message.message %>
      </div>
    </div>
    <%= button_tag 'send a message<i class="far fa-paper-plane"></i>'.html_safe, :type => "submit", :class =>"btn btn-outline-primary" %>
    <%= f.submit 'return', name: 'back' %>
  </div>
<% end %>