<h2>SPOT EDIT</h2>

  <div class="alert">
    <% if @spot.errors.any? %>
      <%= @spot.errors.count %> errors<br>
      <% @spot.errors.full_messages.each do |message| %>
        ☆ <%= message %><br>
      <% end %>
    <% end %>
  </div>

  <%= form_with(model:@spot, local: true) do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-7">
          <table>
            <tr>
              <th><%= f.label :spot_name %></th>
              <td><%= f.text_field :spot_name, :size=>"40x1", placeholder: '(up to 20 characters)' %></td>
            </tr>
            <tr>
              <th><%= f.label :post_code %></th>
              <td><%= f.text_field :post_code, placeholder: '123-4567' %></td>
            </tr>
            <tr>
              <th><%= f.label :address %></th>
              <td><%= f.text_field :address, :size=>"57x1", placeholder: '○○市○○1234-5', class: 'from-control' %></td>
            </tr>
             <tr>
              <th><%= f.label :spot_text %></th>
              <td><%= f.text_area :spot_text, :size=>"60x7", placeholder:'(up to 200 characters)' %></td>
            </tr>
            <tr>
              <td>
                <%= f.collection_check_boxes(:box_ids, Box.all, :id, :box_name) do |box| %> <!-- 観光地のジャンル-->
                  <div class='form-check'>
                    <%= box.label class: 'form-check-label' do %>
                      <%= box.check_box class: 'form-check-input' %>
                      <%= box.text %>
                    <% end %>
                  </div>
                <% end %>
              </td>
            </tr>
            <tr>
              <th> </th>
              <td>
                <%= f.label :spot_imgs, "photo Selection",class: "image_input_btn" %>
                <%= f.file_field :spot_imgs, multiple: true, class: "image_form" %>

　              <%= f.label :spot_imgs, "[Registration Photo]" %>
                <% if @spot.spot_imgs.present? %>
                  <p>※please check the image you want to delete</p>
                  <div class="spot-img-list">
                    <% @spot.spot_imgs.each do |image| %>
                      <div class="spot-img-box">
                        <%= f.check_box :image_ids, {multiple: true}, image.id, false %>
                        <%= image_tag image, size: "150x150" %> <br>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </td>
            </tr>
            <tr>
              <th><%= button_tag 'update<i class="fa fa-save"></i>'.html_safe, :type => "submit", :class =>"btn btn-outline-primary" %></th>
            </tr>
          </table>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  <% end %>