<div>
  <h2>MAP</h2>

  <div class="success"><%= flash[:success] %></div>
  
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <%= form_tag({controller:"spots",action:"index"}, method: :get, class: "spot_box") do %>　<!--ジャンルチェックボックス-->
        <% Box.all.each do |b| %>
          <%= check_box :box_ids, b.box_name %><%= b.box_name %>
        <% end %>
        <%= button_tag 'Enter'.html_safe, :type => "submit", :class =>"btn btn-outline-secondary btn-sm" %>
      <% end %>
      <div class="map-explain">(Let's decide the genre and search!)</div>
    </div>
    <div class="col-lg-3 ">
      <% if current_user %>
        <div class= "spot-add">
          <%= link_to new_spot_path, class: "btn btn-outline-secondary" do %>
            new spot<i class="fas fa-plus"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div id='map'></div> <!--グローバル変数がjsにまとめてしまうと、他と共有してしまう恐れがある。このぺージでしか使用しないようにするため、このままにしてある。-->
  <script>

    let map;
    let marker = [];
    let infoWindow = [];
    let count = 0;

    function initMap(){

      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 34.97171938, lng: 138.3879278},
      zoom: 9.3
      });  //マップ表示場所とサイズ指定
      console.log(gon.spot.latitude);　//経緯
      console.log(gon.spot.longitude);　//緯度

      <% @spots.each  do | spot| %>
        <% if spot.latitude && spot.longitude %>
          marker[count] = new google.maps.Marker({
          //position: new google.maps.LatLng(gon.spot.latitude, gon.spot.longitude ),
             position: new google.maps.LatLng(<%= spot.latitude %>, <%= spot.longitude %>),
            map: map
          });　//登録した観光地のマーカー

          //map.setCenter( new  google.maps.LatLng(gon.spot.latitude, gon.spot.longitude));

          infoWindow[count] = new google.maps.InfoWindow({
            content: `<%= link_to "#{spot.spot_name}", spot_path(spot) %>`
          });　// infoWindowは吹き出し、観光地名をだす

          count++;
        <% end %>
      <% end %>

      for (var i = 0; i < count; i++) {
        markerEvent(i)
      }
    }

      function markerEvent(i) {
        marker[i].addListener('click', function () {
          infoWindow[i].open(map, marker[i]);
        }); //mapピンをクリックすると観光地名表示
      }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API']%>&callback=initMap" async defer></script>
</div>