<h3>
  SPOT【<%= @spot.spot_name %>】
  <%= link_to spots_path, class: "btn btn-outline-secondary btn-sm" do %>
    <i class="fas fa-undo-alt"></i>
  <% end %>
</h3>

<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <div class="show-imgs">
        <% @images.each do |image| %>
          <div class="show-img">
            <%= image_tag image.variant(resize: "250x200") %>
          </div>
        <% end %>
      </div>
      <%= paginate @images %>

    </div>
    <div class="col-lg-5">
      <h5 class="object">spot address</h5>
      <p>　<%= @spot.post_code %></p>
      <p>　　<%= @spot.address %></p>
      <h5 class="object">explain</h5>
      <p>　<%= @spot.spot_text %></p>

      <% @spot.boxs.each do |box| %>
        <div class="genre-tag">
          <%= box.box_name %>
        </div>
      <% end %>


        <% @spot.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.id) %>
        <% end %>


      <% if @spot.user == current_user %>
        <%= link_to edit_spot_path(@spot), class: "btn btn-outline-secondary btn-sm" do %>
          edit<i class="fas fa-edit"></i>
        <% end %>
        <%= link_to spot_path(@spot), method: :delete, class: "btn btn-outline-danger btn-sm" do %>
          delete<i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>

      <h5 class="object">favorite・comment</h5>
      <div class= "favorite" id="spot_<%= @spot.id %>">
         <%= render "user/spots/favorites", spot: @spot %>
      </div>
      <p>comment:<%= @spot.comments.count %></p>
      <% @spot.comments.each do |comment| %>
        <%= comment.user.name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
        <% if comment.user == current_user %>
          <%= link_to "delete", spot_comment_path(comment.spot, comment), method: :delete, class: "btn btn-outline-danger btn-sm" %>
        <% end %><br>
      <% end %>

      <%= form_with(model:[@spot, @comment], local: true) do |f| %>
        <%= f.text_area :comment,:size=>"60x3",placeholder: "comment here(must be at least 30 characters long.)" %>
        <%= button_tag 'enter'.html_safe, :type => "submit", :class =>"btn btn-outline-primary btn-sm" %>
      <% end %>
  </div>
</div>
