<h4>観光地詳細</h4>

<h5>観光地名</h5>
<p><%= @spot.spot_name %> </p>
<h5>観光地画像</h5>
<%= attachment_image_tag @spot, :spot_img, :fill, 100, 100, format: 'jpeg' %>
<h5>観光地住所</h5>
<p><%= @spot.post_code %></p>
<p><%= @spot.address %></p>
<h5>説明</h5>
<p><%= @spot.spot_text %></p>
<h5>営業</h5>
<p><%= @spot.business_day %></p>
<p><%= @spot.business_hour %></p>


<div class= "favorite" id="spot_<% @spot.id %>">
 <%= render "user/spots/favorite", spot: @spot %>
</div>

<%= link_to "編集", edit_spot_path(@spot) %>
<%= link_to "削除", spot_path(@spot), method: :delete, "data-comfirm" => "本当に削除しますか" %>

<div>
<p>コメント件数：<%= @spot.comments.count %></p>
<% @spot.comments.each do |comment| %>
  <p><%= comment.comment_img %></p>
  <%= comment.user.name %>
  <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% if comment.user == current_user %>
  <div>
    <%= link_to "コメント削除", spot_comment_path(comment.spot, comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>
<div>
<%= form_with(model:[@spot, @comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>