<div class="text-center">
  <h2>MY PAGE</h2>

  <%= form_with model:@user, url:user_path(current_user), local:true do |f| %>
  <h4>
    name
    <%= f.text_field :name %>
    <%= button_tag 'save<i class="fa fa-save"></i>'.html_safe, :type => "submit", :class =>"btn btn-outline-primary" %>
  </h4>


  <h4>
    e-mail :
    <%=@user.email %>
  </h4>
  <% end %>
  <%= link_to spots_favorite_path, class: "btn btn-outline-secondary" do %>
    favorite<i class="fas fa-star"></i>
  <% end %>
  <%= link_to confirm_unsubscribe_path(@user), class: "btn btn-outline-danger" do %>
    unsubscribe<i class="fas fa-user-times"></i>
  <% end %>

</div>
