
<div class="top">
  <div class="top-text">
    <h1 class="title-name">
      SHIZUOKA-spot-
    </h1>

    <div class="success"><%= flash[:success] %></div>
    <div>
      <%= link_to "SIGN UP", new_user_registration_path %>
    </div>
    <div>
      <%= link_to "SIGN IN", new_user_session_path %>
    </div>
    <div>
      For those who use without logging in, <%= link_to "click here", spots_path %>
    </div>
  </div>
      <!--スライドショー-->
  <div class="slick-view">
    <div class="slick">
      <div class="imgimg">
        <%= image_tag 'image_1.jpg', class:'col' %>
      </div>
      <div>
        <%= image_tag 'image_2.jpg', class:'col' %>
      </div>
      <div>
        <%= image_tag 'image_3.jpg', class:'col' %>
      </div>
    </div>
    <script src="<%= top_path(format: :js) %>"></script>
  </div>
</div>
