
<div class="top">
  <div class="top-text">
    <h5>
      SHIZUOKA-spot-
    </h5>
    ﾛｸﾞｲﾝせずに使用することもできますが、
    ログインすると。。。<br>

    ☆観光地の詳細が見られる<br>
    ☆お気に入りマークを付けられる<br>
    ☆観光地を登録できる<br>
    ☆コメントを閲覧、送信ができる<br>

    ！ぜひ、登録をして、観光地を共有しましょう！

<div class="success"><%= flash[:success] %></div>
<div>
  <%= link_to "SIGN UP", new_user_registration_path %>
</div>
<div>
  <%= link_to "SIGN IN", new_user_session_path %>
</div>
<div>
  ログインしないで利用する方は<%= link_to "こちら", spots_path %>へ
</div>
  </div>
  <!--スライドショー-->
  <div class="slick">
    <div>
      <%= image_tag 'image_1.jpg', class:'col' %>
    </div>
    <div>
      <%= image_tag 'image_2.jpg', class:'col' %>
    </div>
    <div>
      <%= image_tag 'image_3.jpg', class:'col' %>
    </div>
  </div>
</div>
<script src="<%= top_path(format: :js) %>">
//$(document).on('turbolinks:load', function(){
  //$('.slick').slick({
    // 自動再生
    //autoplay:true,
    // ドットの表示
   // dots:true,

    //arrows:false
 // });
//});
</script>
