<!DOCTYPE html>
<html>
  <head>
    <title>ShizuokaTrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <%= stylesheet_link_tag'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<script src="https://kit.fontawesome.com/6dd6968c0b.js?key=GOOGLE_MAP_API&callback=initMap" crossorigin="anonymous"></script>-->
  </head>

  <body>
    <% @paths.each do |path| %>
      <% if current_page?(path) %>
        <% @header = false %>
      <% end %>
    <% end %>
    <% if @header %>
      <%= render "layouts/header" %>
    <% end %>
    <%= yield %>


  </body>
</html>
