<!DOCTYPE html>
<html>
  <head>
    <title>ShizuokaTrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% unless current_page?(root_path) %><%# unlessで現在のﾍﾟｰｼﾞがﾄｯﾌﾟﾍﾟｰｼﾞであれば非表示になる%>
      <% unless current_page?(new_user_session_path) %>
      <% unless current_page?(new_user_registration_path) %>
      <% unless current_page?(new_admin_session_path) %>
        <%= render "layouts/header" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
